/* * {
  background-color: rgb(32, 32, 32);
} */

.sign-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 30px;
  background-color: rgb(32, 32, 32);
  color: white;
  width: 100%;
  height: calc(100vh - 92px);
}

.sign-form {
  display: flex;
  flex-direction: column;
  width: 275px;
  margin: auto;
}

.sign-form > input {
  border: none;
  border-bottom: 1px solid red;
  height: 35px;
  margin-bottom: 20px;
  background-color: rgb(32, 32, 32);
  color: white;
}

.sign-checkbox-container {
  margin-top: 20px;
  padding: 10px;
}

.sign-checkbox-container input[type="checkbox"] {
  transform: scale(2);
  margin-right: 20px;
}

.sign-form > input[type="submit"] {
  border: 1px solid red;
}

.general-conditions > p {
  text-align: left;
  color: #999;
  font-size: 12px;
  margin-top: 20px;
}

.sign-wrapper a {
  color: red;
  font-size: 12px;
  text-decoration: none;
  margin-top: 20px;
}
